extends ../layout

block content
  a(href='/bicicletas/create') Nueva bicicleta
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
    tbody
      each bici in bicis
        tr
          th(scope='row')
            = bici.id
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a(href='/bicicletas/'+ bici.id +'/update' class='btn') Editar
          td
            form(action='/bicicletas/'+ bici.id +'/delete' method='post')
              input(type='hidden' name='id' value=bici.id)
              button(type='submit' value='submit_value' class='btn') Eliminar
